@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acorn-bold';
  src: url('./assets/font/Acorn-Bold.woff2') format('woff2'),
       url('./assets/fonts/Acorn-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Acorn-semibold';
  src: url('./assets/font/Acorn-Semibold.woff2') format('woff2'),
       url('./assets/fonts/Acorn-Semibold.woff') format('woff');
}

:root{
  --green-color: #025A4E;
  --dark-green: #4C6763;
  --white: #FFFFFF;
  --light-gray: #EDE7DE;
  --button: #a4bebb;

  /* fonts */
  --titleFont: 'Acorn-bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* --titleFont: "acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
    --bodyFont: "gt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --ampFont: Baskerville,"Goudy Old Style", Palatino, "Book Antiqua", serif;
    --systemFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --monoFont: ui-monospace, Menlo, Monaco,"Cascadia Mono", "Segoe UI Mono", "Roboto Mono", monospace;
}